<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        tr {
            display: block;
            position: relative
        }

        td {
            display: block;
            left: 0;
            top: 0;
        }

        h2 {
            border-width: 1px;
            border-style: solid;
            border-color: green;
        }
    </style>
</head>
<body>
<div>
    <h1>Twoja paczka została wysłana</h1>
    <h3>Twoje zamówienie jest już w drodze.</h3>
</div>
<div>
    Została wysłana na adres:
    <p><strong th:text="${address.street}"></strong></p>
    <p><strong th:text="${address.city} + ' ' + ${address.postCode}"></strong></p>
    <p><strong th:text="${address.country}"></strong></p>
</div>
<h2></h2>
<h3>Podsumowanie zakupów:</h3>
<tr th:each="product : ${products}">
    <td th:text="Nazwa+': '+ ${product.name}"></td>
    <td th:text="Kategoria+': '+ ${product.categoryName}"></td>
    <td th:text="Smak+': '+${product.taste}"></td>
    <td th:text="Waga+ ': '+ ${product.weight} + ' '+ g"></td>
    <td th:text="Ilość+': ' + ${product.quantity}+ ' '+ szt."></td>
    <td th:text="Cena+ ': '+ ${product.price}+' ' + zł"></td>
    <h2></h2>
</tr>
<h3>Koszt całego zamówienia: <strong th:text="${amount}+' ' + zł">0</strong></h3>
<p>Zamówienie zostanie zrealizowane w przeciągu 3 dni roboczych.</p>
<p>Przybliżona data dostarczenia zamówienia: <strong th:text="${delivery}"></strong></p>
</body>
</html>